<section  class="page container">
  <h1  class="section-title">Editing {{user.username}}'s profile</h1>

  <form class="form-bar" method="POST" action="/profile/edit">
  <div>
    <label>New username:</label>
  </div>
  <div>
    <input type="text" name="username" required="true" value="{{user.username}}"/>
  </div>
  <div>
    <label>New profile image:</label>
  </div>
  <div>
    <input type="text" name="image" src="{{user.image}}" placeholder="https://..."/>
  </div>
    <button class="button-1" type="submit">Save</button>
  </form>

</section>