<h2>Editing products {{name}}</h2>

<form method="POST" action="/products/edit/{{_id}}">
  <label>Products's name</label>
  <input required type="text" name="name" value="{{this.name}}"/>
  <label>Price</label>
  <input required type="number" name="price" value="{{number}}"/>
  <button type="submit">Save changes</button>
</form>