<section class="page container">
  <h1 class="section-title">Edit this article price</h1>

    <form class="form-bar" method="POST" action="/articles/editArticle/{{article._id}}">
      <div>
        <label>Price:</label>
      </div>
      <div>
        <input required type="number" name="price" value="{{article.price}}" step="any"/>
      </div>
      <button class="button-1" type="submit">Save</button>
    </form>

</section>