<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/style.css" rel="stylesheet"/>
  <title>MarkGet web-app</title>
</head>
<body> 
   
  <header class="header">
    <form method-"GET" action="/articles/search" class="form-container">
    <input type="text" name="category" placeholder="Search for a category" class="form-input"/>
    <button type="submit" class="form-button">Search</button>
    </form>
    <nav class="nav">
      <ul class="nav_list">
        {{!--{{#if user}}--}}
          <li class="nav_item"><a href="/" class="nav__link">Home</a></li>
          <li class="nav_item"><a href="/auth/logout" class="nav__link">Log out</a></li>
          <li class="nav_item"><a href="/profile" class="nav__link">Profile</a></li>
        {{!--{{else}}--}}
          {{!--<li><a href="/">Home</a></li>--}}
          <li class="nav_item"><a href="/auth/signup" class="nav__link">Sign up</a></li>
          <li class="nav_item"><a href="/auth/login" class="nav__link">Log in</a></li>
        {{!--{{/if}}--}}
      </ul>
  </nav> 
  </header>  
  
  {{{ body }}}
  <script src="/javascript/script.js"></script>
</body>
</html>