<h2>Upload a new article</h2>
<form method="POST" action="/articles/new">
    <select name="product">
       {{#each allProducts}} 
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
    <select name="market">
        {{#each allMarkets}} 
        <option value="{{_id}}">{{name}} </option>
        {{/each}}
    </select>
    <label>New price</label>
    <input required type="number" name="price" step="any"/>
    <button type="submit">Upload it</button>
</form>
