<div>
  <div>
    <h2> Add new product</h2>
    <form method="POST" action="/products/new">
    <div>
      <label>Name</label>
      <input required type="text" name="Name" placeholder="name"/>      
    </div>
    <div>
     <label>Image</label>
      <input required type="text" name="image" placeholder="https://...">
    </div>
    <div>
      <label>Price</label>
      <input required type="number" name="price" placeholder="15">
    </div>
      <div>
        <button type="submit">Create!</button>
      </div>
    </form>
  </div>
</div>