<h2>Create a new article</h2>
<form method="POST" action="/prices">
    <select name="product">
       {{#each productsArr}} 
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
    <select name="market">
        {{#each marketsArr}} 
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
    <label>New price</label>
    <input required type="number" name="number"/>
    <button type="submit">Create it</button>
</form>